* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #39297b;
    color: #fff;
}

h1 {
    text-align: center;
    margin: 50px 0;
    font-weight: 600;
}

form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background-color: #434989;
    display: flex;
    align-items: center;
}

form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0 30px;
    font-family: inherit;
}

::placeholder {
    color: #fff;
}

form button {
    font-family: inherit;
    padding: 0 40px;
    height: 100%;
    background-color: #ff3929;
    color: #fff;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}

#show-more-btn {
    background-color: #ff3929;
    color: #fff;
    border: 0;
    font-family: inherit;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin: 60px auto 150px;
    display: none;
    text-align: center;
}

#search-result {
    width: 90%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

#search-result img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

@media (max-width: 500px) {
    form {
        height: 160px;
        flex-direction: column;
    }

    form button {
        height: 80px;
        width: 100%;
    }
}